.{
padding:0;
margin:0;
}

html{
padding:0;
margin:0;
}

#camera1{
position:absolute;
top:40px;
left:0;
}
#camera2{
position:absolute;
top:40px;
left:250px;
}

.name {
position:relative;
top:0px;
width:100%;
text-align:center;
}

#title{
font-size:20px;
width:100%;
margin:10px;
}
